@keyframes beat {
    0% {
        transform: scale(1) rotate(225deg);
        box-shadow: 0 0 40px #d5093c;
    }

    50% {
        transform: scale(1.1) rotate(225deg);
        box-shadow: 0 0 40px #d5093c;
    }

    100% {
        transform: scale(1) rotate(225deg);
        box-shadow: 0 0 40px #d5093c;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    // background: #ffa5a5;
    // background: -moz-linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa5a5), color-stop(100%, #ffd3d3));
    // background: -webkit-linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
    // background: linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
}

.chest {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-left: -2.59em
}

.heart {
    position: absolute;
    z-index: 2;
    background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%, #F50A45), color-stop(40%, #d5093c));
    background: -webkit-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    -webkit-animation: beat 0.7s ease 0.4s infinite normal;
    -moz-animation: beat 0.7s ease 0.4s infinite normal;
    animation: beat 0.7s ease 0.4s infinite normal;
}


.heart2x {
    position: absolute;
    z-index: 2;
    //background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%, #F50A45), color-stop(40%, #d5093c));
    background: -webkit-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    -webkit-animation: beat 0.4s ease 0.3s infinite normal;
    //-moz-animation: beat 0.4s ease 0.3s infinite normal;
    animation: beat 0.4s ease 0.3s infinite normal;
}


.heart3x {
    position: absolute;
    z-index: 2;
    background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%, #F50A45), color-stop(40%, #d5093c));
    background: -webkit-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    -webkit-animation: beat 0.2s ease 0.2s infinite normal;
    -moz-animation: beat 0.2s ease 0.2s infinite normal;
    animation: beat 0.2s ease 0.2s infinite normal;
}

.heart.center {
    background: -moz-linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #B80734), color-stop(40%, #d5093c));
    background: -webkit-linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
    background: linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
}

.heart.top {
    z-index: 3;
}

.side {
    top: 100px;
    width: 220px;
    height: 220px;
    border-radius: 220px;
}

.center {
    width: 210px;
    height: 210px;
    bottom: 100px;
    left: 145px;
    font-size: 0;
    text-indent: -9999px;
}

.left {
    left: 62px;
}

.right {
    right: 62px;
}




// $white:#F0EFDA;
// $black:#272B24;
// $shadow:#191D18;
// $pink:#FFAA9E;

// ion-content {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

//     height: 100vh;

//     background: $black;

//     .ghost {
//         position: relative;
//         margin-top: 4em;
//         margin-left: 8em;
//         width: 160px;
//         height: 200px;

//         .body {
//             position: relative;

//             width: 160px;
//             height: 200px;
//             border-top-right-radius: 80px;
//             border-top-left-radius: 80px;

//             background-color: $white;

//             animation: float 4s ease infinite;

//             .face {
//                 display: flex;
//                 flex-wrap: wrap;

//                 position: absolute;
//                 top: 67px;
//                 left: 37px;

//                 width: 72px;
//                 height: 41px;

//                 .eye {
//                     width: 20px;
//                     height: 20px;
//                     border-radius: 100%;

//                     background-color: $black;

//                     &.left {
//                         margin-right: 32px;
//                     }
//                 }

//                 .smile {
//                     margin-top: 6px;

//                     width: 32px;
//                     height: 16px;
//                     margin-left: 20px;
//                     border-bottom-left-radius: 16px 12px;
//                     border-bottom-right-radius: 16px 12px;
//                     border-top-left-radius: 4px;
//                     border-top-right-radius: 4px;

//                     background-color: $black;
//                 }

//                 .rosy {
//                     position: absolute;
//                     top: 28px;

//                     width: 22px;
//                     height: 8px;
//                     border-radius: 100%;

//                     background-color: $pink;

//                     &.left {
//                         left: -6px;
//                         transform: rotate(-8deg);
//                     }

//                     &.right {
//                         right: -6px;
//                         transform: rotate(8deg);
//                     }
//                 }
//             }

//             .arm {
//                 position: absolute;
//                 top: 136px;

//                 width: 60px;
//                 height: 40px;

//                 background-color: $white;

//                 &.left {
//                     left: -4px;

//                     border-radius: 60% 100%;

//                     animation: arms-left 4s ease infinite;
//                 }

//                 &.right {
//                     right: -65px;

//                     border-radius: 100% 60%;

//                     animation: arms-right 4s ease infinite;
//                 }
//             }

//             .bottom {
//                 display: flex;
//                 position: absolute;
//                 top: 100%;
//                 left: 0px;
//                 right: -1px; //Shhhh

//                 div {
//                     flex-grow: 1;
//                     position: relative;
//                     top: -14px;

//                     height: 28px;
//                     border-radius: 100%;

//                     background-color: $white;

//                     &:nth-child(2n) {
//                         top: -10px;

//                         margin: 0 -2px;
//                         border-top: 10px solid $white;

//                         background: transparent;
//                     }
//                 }
//             }
//         }

//         .shadow {
//             position: absolute;
//             bottom: -100px;
//             left: 50%;

//             width: 200px;
//             height: 12px;
//             border-radius: 100%;

//             background-color: $shadow;

//             animation: shadow 4s ease infinite;
//         }
//     }
// }

// @keyframes float {

//     0%,
//     100% {
//         top: 0px;
//     }

//     40% {
//         top: -40px;
//     }
// }

// @keyframes arms-left {

//     0%,
//     100% {
//         transform: translate(-50%, -50%) rotate(50deg);
//     }

//     40% {
//         transform: translate(-50%, -50%) rotate(40deg);
//     }
// }

// @keyframes arms-right {

//     0%,
//     100% {
//         transform: translate(-50%, -50%) rotate(-50deg);
//     }

//     40% {
//         transform: translate(-50%, -50%) rotate(-40deg);
//     }
// }

// @keyframes shadow {

//     0%,
//     100% {
//         transform: translateX(-50%) scale(1);
//     }

//     40% {
//         transform: translateX(-50%) scale(0.5);
//     }
// }