<ion-header>
  <ion-toolbar>
    <ion-title>LoveGet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button shape="round" color="primary" fill="outline" (click)="this.sash()">Hello World</ion-button> -->
  <!-- <div id="background"></div>
  <div id="chest">
    <div class="heart left side top"></div>
    <div class="heart center">&hearts;</div>
    <div class="heart right side"></div>
  </div> -->
  <div class="background"></div>
  <div class="chest">
    <div [class]="this.div1"></div>
    <div [class]="this.div2">&hearts;</div>
    <div [class]="this.div3"></div>
  </div>

  <!-- <div class="ghost">
    <div class="body">
      <div class="face">
        <div class="eye left"></div>
        <div class="eye right"></div>
        <div class="smile"></div>
        <div class="rosy left"></div>
        <div class="rosy right"></div>
      </div>
      <div class="arm left"></div>
      <div class="arm right"></div>
      <div class="bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div> -->

</ion-content>